<script type="text/javascript">//<![CDATA[
	XHR.poll(3, '<%=url([[admin]], [[services]], [[netkeeper-interception]], [[status]])%>', null,
		function (x, data) {
			var tb = document.getElementById('netkeeper-interception_status');
			if (data && tb) {
				if (data.running) {
					tb.innerHTML = '<font color=green>RUNNING</font>';
				} else {
					tb.innerHTML = '<font color=red>NOT RUNNING</font>';
				}
			}
		}
	);
	//]]>
</script>
<%+cbi/valueheader%>
<span id="netkeeper-interception_status" class="cbi-value" style="padding: .35rem 0rem .2rem" data-update="change">
	<%-=pcdata(self:cfgvalue(section) or self.default)-%>
</span>
<%+cbi/valuefooter%>